#logo_link_1{
    display: none;
}
#logo_link_2{
    display: block;
}
.card_img{
    height: 100px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    #logo_link_1{
        display: block;
    }
    #logo_link_2{
        display: none;
    }
  }